extends layout

block content
  .container-fluid
    .row-fluid
      .span2
          legend Photo Friends
          label Upload a photo to share with the world.
          .controls.controls-row
          input(type="filepicker") 
      #images.span10
        each image in images
          .img-crop
            img(src="/uploads/#{image}")
