extends layout

block content
  .container-fluid
    .row-fluid
      .span2
        form(action="/", method="post")
          legend Photo Friends
          label Upload a photo to share with the world.
          .controls.controls-row
            input#user-file(type="file", name="image", style="display: none;")
            input#user-file-text.span6(type="text")
            input#user-file-button.btn(type="button", value="Browse..")
          input.btn.btn-primary(type="submit", value="Submit", style="display: none;")
        #progress-bar.progress.progress-striped.active.hide
          .bar(style='width: 0%')
        #message.alert.hide
          button.close(type='button', data-dismiss='alert') x
          span
            strong
      #images.span10
        each image in images
          .img-crop
            img(src="/uploads/#{image}")
