extends layout

block content
  div.container
    div.row
      div.span12
        form(action="/", method="post")
          input(type="file", name="image", id="user-file")
          input(type="submit")
    div.row
      div.span12
        div.progress.progress-striped.active.hide
          div.bar(style='width: 0%')
    div.row
      div.span12
        div.alert.hide
          button.close(type='button', data-dismiss='alert') x
          span
            strong.message
