body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.img-crop {
  width: 612px;
  margin: 20px auto;
  margin-
}

.img-crop img {
  max-width: 100%;
}
