body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.img-crop,
.img-crop img{
  width: 100%; /* gotta be responsive these days */
}

.img-crop{
  background-color: #ededed; /* some background color for short images */
  overflow: hidden;
  
  /* remove white-space for inline-block elements */
  letter-spacing: -0.31em; /* webkit */
  *letter-spacing: normal; /* reset IE < 8 */
  word-spacing: -0.43em; /* IE < 8 && gecko */
}

.img-crop img{
  /* vertically center the image */
  display: inline-block;
  vertical-align: middle;
}
